/*******************************************************************************
* WIKI TOP MENU
*******************************************************************************/
.divWikiTopMenu {
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 20px;
  font-size: 12px;
  background-color: #000000;
  color: #FFFFFF;
}

.divWikiTopMenu a:link, .divWikiTopMenu a:visited, .divWikiTopMenu a:active {
  color:#FFFFFF;
  border-color: #FFFFFF;
  text-decoration: none;
}

.divWikiTopMenu a:hover {
  border-bottom: 1px dotted;
}

/*******************************************************************************
* WIKI FORM
*******************************************************************************/
.inputForm {
  margin: 10px;
}

.inputLabel {
  margin: 0px;
  padding: 0px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.ui-messages {
  font-size: 10px;
}

.inputHr {
  width: 100%;
  margin: 0px;
  padding: 0px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputLongTextField {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.inputLongCombobox {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

.inputEditor {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.divButtons {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.inputButton {
  font-size: 10px;
}

.inputCheckbox {
  font-size: 10px;
}
