.header {
    display: block;
    float: none;
    clear: both;
    background-color: red;
}

.left {
    display: block;
    float: left;
    clear: both;
    background-color: green;
}

.content {
    display: block;
    float: left;
    clear: right;
    background-color: white;
}

.footer {
    display: block;
    float: none;
    clear: both;
    background-color: blue;
}

.frame {
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
    width: 100%;
}

.profiletable{
    display: table;
    border-collapse: collapse;
}

.ptheading {
    display:table-row;
    font-size: 1.5em;
    font-weight: bold;
}

.ptrow {
    display:table-row;
}

.ptname {
    width: 120px;
    display: table-cell;
    float: left;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
}

.ptvalue {
    width: 150px;
    display: table-cell;
    float: left;
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
}

.ui-widget{
    font-size: 12px;
}

.ui-layout-pane-north{
    border: none;
}

.ui-layout-pane-center{
    border: none;
}

#tresc{
    padding: 30px;
}
